parameters:
	ignoreErrors:
		-
			message: "#^Anonymous function should return array but returns array\\<string\\>\\|false\\.$#"
			count: 1
			path: tests/lib/Search/ResultExtractor/AggregationResultExtractor/TermAggregationResultExtractorTest.php
