parameters:
    ezpublish.solr.engine_factory.class: EzSystems\EzPlatformSolrSearchEngineBundle\ApiLoader\SolrEngineFactory
    ezpublish.solr.boost_factor_provider_factory.class: EzSystems\EzPlatformSolrSearchEngineBundle\ApiLoader\BoostFactorProviderFactory
    ezpublish.solr.indexing_depth_provider_factory.class: EzSystems\EzPlatformSolrSearchEngineBundle\ApiLoader\IndexingDepthProviderFactory
    ez_search_engine_solr.default_connection: ~

services:
    ezpublish.solr.engine_factory:
        class: "%ezpublish.solr.engine_factory.class%"
        arguments:
            - "@ezpublish.api.repository_configuration_provider"
            - "%ez_search_engine_solr.default_connection%"
            - "%ezpublish.spi.search.solr.class%"
        calls:
            - [setContainer, ["@service_container"]]

    ezpublish.solr.boost_factor_provider_factory:
        class: "%ezpublish.solr.boost_factor_provider_factory.class%"
        arguments:
            - "@ezpublish.api.repository_configuration_provider"
            - "%ez_search_engine_solr.default_connection%"
            - "%ezpublish.search.solr.boost_factor_provider.class%"
        calls:
            - [setContainer, ["@service_container"]]

    ezpublish.search.solr.field_mapper.indexing_depth_provider_factory:
        class: "%ezpublish.solr.indexing_depth_provider_factory.class%"
        arguments:
            - "@ezpublish.api.repository_configuration_provider"
            - "%ez_search_engine_solr.default_connection%"
            - "%ezpublish.search.solr.indexing_depth_provider.class%"
        calls:
            - [setContainer, ["@service_container"]]

    ezpublish.search.solr.field_mapper.indexing_depth_provider:
        class: "%ezpublish.search.solr.field_mapper.indexing_depth_provider.class%"
        factory: 'ezpublish.search.solr.field_mapper.indexing_depth_provider_factory:buildService'

    ezpublish.search.solr.gateway.distribution_strategy.abstract_standalone:
        abstract: true
        class: EzSystems\EzPlatformSolrSearchEngine\Gateway\DistributionStrategy\StandaloneDistributionStrategy
        arguments:
            - "@ezpublish.search.solr.gateway.endpoint_registry"

    ezpublish.search.solr.gateway.distribution_strategy.abstract_cloud:
        abstract: true
        class: EzSystems\EzPlatformSolrSearchEngine\Gateway\DistributionStrategy\CloudDistributionStrategy
        arguments:
            - "@ezpublish.search.solr.gateway.endpoint_registry"

    ezpublish.search.solr.gateway.document_router.implicit:
        abstract: true
        class: EzSystems\EzPlatformSolrSearchEngine\Gateway\DistributionStrategy\DocumentRouter\ImplicitDocumentRouter
