parameters:
    ezpublish.solr.engine_factory.class: EzSystems\EzPlatformSolrSearchEngineBundle\ApiLoader\SolrEngineFactory
    ezpublish.solr.boost_factor_provider_factory.class: EzSystems\EzPlatformSolrSearchEngineBundle\ApiLoader\BoostFactorProviderFactory
    ez_search_engine_solr.default_connection: ~
    ez_search_engine_solr.invalid_characters_pattern: "#\\x1b[[][^A-Za-z]*[A-Za-z]#"

services:
    ezpublish.solr.engine_factory:
        class: "%ezpublish.solr.engine_factory.class%"
        arguments:
            - "@ezpublish.api.repository_configuration_provider"
            - "%ez_search_engine_solr.default_connection%"
            - "%ezpublish.spi.search.solr.class%"
        calls:
            - [setContainer, ["@service_container"]]

    ezpublish.solr.boost_factor_provider_factory:
        class: "%ezpublish.solr.boost_factor_provider_factory.class%"
        arguments:
            - "@ezpublish.api.repository_configuration_provider"
            - "%ez_search_engine_solr.default_connection%"
            - "%ezpublish.search.solr.boost_factor_provider.class%"
        calls:
            - [setContainer, ["@service_container"]]
